@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  min-height: 100vh;
}

.navigation-container {
  background: #172432;
}

.navigation-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.hamburger-menu {
  min-width: 50px;
  transition: width 1.5s ease-in-out;
}

#menu-toggle {
  opacity: 0;
}

.menu-btn {
  display: flex;
  align-items: center;
  /* position: fixed; */
  top: 20px;
  left: 15px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu-btn > span::before {
  content: "";
  top: -8px;
}
.menu-btn > span::after {
  content: "";
  top: 8px;
}

.menu-box {
  display: block;
  visibility: hidden;
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 5px 15px rgba(4, 4, 4, 0.2);
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu-item:hover {
  background-color: #cfd8dc;
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu-box {
  visibility: visible;
}

.header-nav #menu-toggle:checked ~ .menu-box {
  width: 150px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  min-width: 80px;
  margin-top: 40px;
}

.crumb {
  display: inline-block;
}

.menu-text {
  visibility: hidden;
   transition: 0.5s;
}

.button:hover ~ .menu-text {
  visibility: visible;
}

.button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.header-nav a,
.footer-nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header {
  position: sticky;
  top: 0;
  background: #172432;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-wrapper {
  width: 90%;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.destinations {
  height: 550px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.destinations-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.destinations p {
  width: 220px;
}

.destinations-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.germany-img,
.paris-img,
.italy-img {
  width: 250px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-text {
   overflow: hidden;
   transition: 0.5s;
}

#info-toggle {
  visibility: visible;
}

#info-toggle:checked ~ .accordion-text {
  visibility: hidden;
}

.info {
  width: 20%;
  padding-left: 50px;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-family: "Roboto", sans-serif;
}

.footer-wrapper {
  background: #172432;
  height: 77px;
  padding: 20px;
}

.footer-wrapper p {
  color: #fff;
}
